
 * {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.content h2 {
    font-size: 19px;
    padding-bottom: 17px;
}




.background-div {
    position: absolute;
    top: -2%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 350px;
    height: 350px;
    background: #36034b;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    color: #fff;
    padding: 20px;
}

.background-div:before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .1);
    transition: .5s;
    pointer-events: none;
}

.background-div:hover:before {
    left: -50%;
    transform: skewX(-5deg);
}

.background-div .content {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 2px solid #f0a591;
    padding: 20px;
    text-align: center;
    box-shadow: 0 20px 50px #36034b;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.background-div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

span:nth-child(1) {
    transform: rotate(0deg);
}

span:nth-child(2) {
    transform: rotate(90deg);
}

span:nth-child(3) {
    transform: rotate(180deg);
}

span:nth-child(4) {
    transform: rotate(270deg);
}

span:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: 3px;
    right: 3px;
    left: 3px;
    background: #dd77d8;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }
    50% {
        transform: scaleX(1);
        transform-origin: left;
    }
    50.1% {
        transform: scaleX(0);
        transform-origin: left;
    }
    100% {
        transform: scaleX(1);
        transform-origin: left;
    }
}


